<div class="col-md-12">
    <h3>New payment</h3>
    <h4>{{customerDetails}}</h4>
    <h4>
    </h4>
    <div class="row">

        <form [formGroup]="totalAmountForm">
            <!-- formGroup connects model with the form template -->
            <div class="col-md-3">
                <label>Name:</label>
                <input type="text" class="form-control" formControlName="name">
                <p *ngIf="totalAmountForm.controls.name.errors">This field is required</p>
            </div>
            <!-- formControlName -> associate the form controls to the model,
            each form control gets the formControlName dir so they can register
            the controls on the outer form -->
            <div class="col-md-3">
                <label>Surname:</label>
                <input type="text" class="form-control" formControlName="surname">
                <p *ngIf="totalAmountForm.controls.surname.errors">This field is required</p>
            </div>
            <div class="col-md-3">
                <label>Date:</label>
                <input type="text" class="form-control" formControlName="date">
            </div>
            <div class="col-md-3">
                <label>Total Amount:</label>
                <input #amount type="text" class="form-control" formControlName="totalAmount" (keyup.enter)="onEnter(totalAmountForm.value.totalAmount)">
            </div>
            <!--<button type="submit" class="btn btn-primary">Submit</button>-->
        </form>

        <!--
            <form [formGroup]="myForm" novalidate>
                <label for="totalAmount">Total Amount:</label>
            ??? <input formControlName="totalAmount" (keyup.enter)="onEnter(totalAmount.value)">
            </form>
         -->
        =================================================================<br> =================================================================
        <h3>Payments details</h3>
        <h4>Insert components amounts:</h4>
        <form [formGroup]="partAmountForm">
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="name">Payment for:</label>
                    <input type="text" class="form-control" formControlName="paymentPurpose1">
                </div>
                <div class="form-group col-md-6">
                    <label>Amount:</label>
                    <input type="text" class="form-control" formControlName="amount1" [(ngModel)]="partAmountForm.value.amount1">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="name">Payment for:</label>
                    <input type="text" class="form-control" formControlName="paymentPurpose2">
                </div>
                <div class="form-group col-md-6">
                    <label for="surname">Amount:</label>
                    <input type="text" class="form-control" formControlName="amount2" (change)="checkAmountsAndChange()">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="name">Payment for:</label>
                    <input type="text" class="form-control" formControlName="paymentPurpose3">
                </div>
                <div class="form-group col-md-6">
                    <label for="surname">Amount:</label>
                    <input type="text" class="form-control" formControlName="amount3" (change)="checkAmountsAndChange()">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12 ">
                    <button type="button" class="btn btn-default">Cancel</button>
                    <button type="button" class="btn btn-default pull-right">Submit</button>
                </div>
            </div>
        </form>
    </div>