<div class="col-md-12">
    <h3>New payment</h3>
    <h4>{{customerDetails}}</h4>
    <h4>
    </h4>
    <div class="row">

        <form [formGroup]="totalAmountForm">
            <!-- formGroup connects model with the form template -->
            <div class="col-md-3">
                <label>Name:</label>
                <input type="text" class="form-control" formControlName="name">
                <p *ngIf="totalAmountForm.controls.name.errors">This field is required</p>
            </div>
            <!-- formControlName -> associate the form controls to the model,
            each form control gets the formControlName dir so they can register
            the controls on the outer form -->
            <div class="col-md-3">
                <label>Surname:</label>
                <input type="text" class="form-control" formControlName="surname">
                <p *ngIf="totalAmountForm.controls.surname.errors">This field is required</p>
            </div>
            <div class="col-md-3">
                <label>Date:</label>
                <input type="text" class="form-control" formControlName="date">
            </div>
            <div class="col-md-3">
                <label>Total Amount:</label>
                <input #amount type="text" class="form-control" formControlName="totalAmount">
            </div>
            <!--<button type="submit" class="btn btn-primary">Submit</button>-->
        </form>

        =================================================================================<br> =================================================================================
        <div class="col-md-12">
            <h3>Payments details</h3>
            <h4>Insert components amounts:</h4>
            <form [formGroup]="partAmountForm">
                <div formArrayName="detailsFields" *ngFor="let subpayment of detailsFields.controls; let i=index">
                    <div [formGroupName]="i">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="control-label" attr.for="{{'paymentPurpose1Id' + i}}">Payment for:</label>
                                <!-- TODO: angular 2 style, interpolation -->
                                <input type="text" class="form-control" id="{{'paymentPurpose' + i}}" formControlName="paymentPurpose">
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label" attr.for="{{'amount1Id' + i}}">Amount:</label>
                                <input type="text" class="form-control" id="{{'amount' + i}}" formControlName="amount">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <br>Dirty: {{partAmountForm.dirty}}
        <br>Touched: {{partAmountForm.touched}}
        <br>Valid: {{partAmountForm.valid}}
        <br>Value: {{detailsFields.get('0.amount')?.value}}
        <br>Value: {{detailsFields.get('1.amount')?.value}}
        <br>Value: {{detailsFields.get('2.amount')?.value}}
        <br>=================================================================================<br> =================================================================================
    </div>
</div>